#divNavbar {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.nav-link {
  padding: 0;
}
nav {
  text-align: right;
  display: flex;
  align-items: center;
}

.navbarimage {
  padding: 0;
}

.navbarElement {
  transition: 0.4s;
  color: #ef233c;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.navbarElement:hover {
  background-color: #ef233c;
  color: white;
  padding: 23px 10px;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .navbarElement:hover {
    background-color: #ef233c;
    color: white;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
  }
}
