#divBody {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  margin-top: 35px;
  min-height: 80vh;
}
