// Replace with the data fetched from https://www.emailjs.com/ and rename the file as emailCredentials.js

const getConfig = () => {
  const config = {
    serviceID: "",
    templateID: "",
    userID: "",
  };
  return config;
};

export default getConfig;
